/* Variables */

:root {
  --color-blue: #1f4284;
  --color-main-bg: #ebf0fa;
  --color-black: #323232;
  --color-grey: #727272;
  --color-white: #ffffff;
  --color-dark-blue: #244c98;
  --color-light-blue: #d7e2f6;
}

/* Global */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 36px 40px;
  overflow-x: hidden;
  color: var(--color-blue);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  background-color: var(--color-white);
}

*::selection {
  color: var(--color-blue);
  background-color: var(--color-main-bg);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  margin: unset;
  padding: unset;
  border: unset;
  border-radius: unset;
  background-color: unset;
}

button:focus {
  outline: 0;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 24px;
  border: 0;
  font-weight: 500;
  line-height: 29px;
  color: var(--color-blue);
  border: 1px solid transparent;
  background-color: var(--color-light-blue);
  transition: border 0.4s ease;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border: 1px solid var(--color-black);
  outline: none;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.button {
  padding: 18px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  text-align: center;
  font-weight: 500;
  line-height: 29px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.close-button {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--color-white);
  background-image: url("../images/icons/cross-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

/* Main */

.demo {
  background-color: var(--color-main-bg);
  border-radius: 10px;
}

.demo__columns {
  display: flex;
  justify-content: space-between;
}

.demo__column {
  flex-basis: 48%;
}

.demo__column:nth-child(1) {
  align-self: center;
}

.demo__text-content {
  max-width: 511px;
  padding-left: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.demo__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 18px;
}

.demo__text {
  margin-bottom: 36px;
  font-size: 17px;
  line-height: 27.2px;
  color: var(--color-grey);
}

.demo__button {
  min-width: 341px;
  position: relative;
  padding: 19.5px 24px;
  padding-right: 72px;
  border-radius: 60px;
  border: 1px solid transparent;
  cursor: pointer;
}

.demo__button::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  background-color: var(--color-white);
  background-image: url("../images/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.demo__button:hover {
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-blue);
}

.demo__button:hover::after {
  border: 1px solid var(--color-dark-blue);
}

.demo__image {
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Modal */

.login-modal {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  padding: 24px;
  padding-top: 80px;
  border-radius: 10px;
  background-color: var(--color-main-bg);
  box-shadow: -3px -3px 28px -5px #afafaf2b;
  transition: top 0.4s ease;
}

.login-modal.active {
  top: 50px;
}

.login-modal__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.login-modal__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32.78px;
  color: var(--color-black);
  margin-bottom: 18px;
}

.logal-mobal__input {
  padding: 24px;
  border-radius: 10px;
}

.logal-mobal__input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  color: var(--color-blue);
}

.logal-mobal__input:not(:last-child) {
  margin-bottom: 4px;
}

.login-modal__checkbox label {
  position: relative;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  color: var(--color-black);
  padding-left: 36px;
}

.login-modal__checkbox input[type="checkbox"] {
  display: none;
}

.login-modal__checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-black);
  border-radius: 3px;
  background-color: transparent;
  transform: translateY(-50%);
}

.login-modal__checkbox input:checked ~ label::before {
  background-image: url("../images/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85%;
}

.login-modal__restore-link {
  display: block;
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.32px;
  color: var(--color-dark-blue);
}

.login-modal__button {
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.login-modal__button:hover {
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-blue);
}

.login-modal__button--alt {
  background-color: transparent;
  border: 1px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
}

.login-modal__button--alt:hover {
  text-decoration: none;
}

.login-modal__button:not(:last-child) {
  margin-bottom: 4px;
}

@media (max-width: 1440px) {
  .demo__title {
    font-size: 26px;
    line-height: 41.6px;
  }
}

@media (max-width: 1000px) {
  .demo__text-content {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 24px;
  }

  .demo__columns {
    flex-direction: column;
  }

  .demo__column {
    flex-basis: 100%;
  }

  .demo__text-content {
    max-width: 100%;
    padding: 24px;
  }

  .demo__title {
    font-size: 20px;
    line-height: 32px;
  }

  .demo__text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .demo__button {
    min-width: 261px;
    padding: 16px 18px;
    padding-right: 65px;
  }

  .demo__image {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 550px) {
  .login-modal {
    width: 90%;
  }
}

@media (max-width: 375px) {
  body {
    padding-left: 14px;
    padding-right: 14px;
  }

  .demo__text-content {
    padding: 24px;
  }

  .demo__title {
    font-size: 17px;
    line-height: 27.2px;
    margin-bottom: 14px;
  }

  .demo__text {
    font-size: 13x;
    line-height: 20.8px;
    margin-bottom: 18px;
  }

  .demo__button {
    min-width: 100%;
    padding-right: 50px;
  }

  .demo__button::after {
    width: 34px;
    height: 34px;
  }
}
